@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #dce0e9 !important;
}
.avatar-sm{
    width: 100px;
    height: 100px;
}
.avatar-md{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.avatar-lg{
    width: 400px;
    height: 400px;
}
.avatar-hover{
    position: relative;
    cursor: pointer;
}
.avatar-hover::after{
    content: "Select Avatar";
    position: absolute;
    top: 0;
    text-align: center;
    display: none;
    color: black;
}
.avatar-hover:hover::after{
    display: block;
}